.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    flex-wrap: wrap;
    .company-name{
        font-size: 20px;
        font-weight: 700;
        color: #f1356d;

    }
   .links{
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 30%;
         p{
                margin: 0 10px;
                cursor: pointer;
                font-weight: 500;
                color: #333;
                font-family: "Roboto", sans-serif;
                font-size:20px ;
                &:hover{
                    color: #f1356d;
                }
         }
   }
  .buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
  }
}